
body{
font-family: 'Josefin Sans', sans-serif;

background-color: #eaeaea;
}
h1,h2,h3,h4,h5,h5{
    margin: 0;
    
}
p{
    margin: 0 0 0;
}
*:before,
*:after{
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1120px;
   padding-left: 1rem;
   padding-right: 1rem;
   margin: 0 auto;
    overflow: hidden;
   
    
    
  
   
}
.phon{
    padding-top: 253px;
   display: flex;
   
   justify-content: center;
   align-items: center;
   margin-bottom: 120px;
}

.menu{
    
padding: 0 95px;
    margin-top: 120px;
    
    box-shadow: 0px 0px 13px 0px
    rgba(11,12,12,0.15);
    background-color: #ffff;

    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;
}
.logo{
    padding: 45px 0;
}
.text-menu{
 
    font-weight: 300;
    
    padding: 56px 0;
    
    text-transform:uppercase;
  
  height: 100%;
  

}

.menu_text{
  
   
    font-size: 16px;
    margin-left: 24px;
    position: relative;
color:black;
text-decoration: none;    
}

.menu_text:hover{
    border-bottom: 2px solid gray;

}

.search{
    margin: 52px 0;
display: flex;
justify-content: center;
align-items: center;

width: 162px;
height: 28px;
border:1px solid #c2c2c2 ;

}
.img_loop{
    width: 12px;
    height: 12px;
}
.sear_text{
    font-weight: 300;
    margin-left: 0.5rem;
    font-size: 12px;
}
.bananas_iner{

    background: url(img/phon_banan.png) no-repeat;
    box-shadow: 0px 0px 13px 0px
    rgba(11,12,12,0.15);
    width: 1120px;
height: 438px;
    margin-top: 87px;
  margin-bottom: 85px;
 
    
  position: relative;
}
.padding{
    padding-left: 93px;
}

 

.logo_banan{
  
 
    padding-top: 50px;
}
.text{
    font-size: 25px;
   
    padding-top: 35px;
    font-family: 'Playfair Display';
    font-weight: bold;
    
    color: #921026;
   
}
.lor{
    padding-top: 30px;
   
    font-size: 18px;
  
}

.button{
 background-color: #ffff;
    border: 1px solid #c2c2c2;
   
    padding: 10px 14px;
    margin-top: 28px;
cursor: pointer;
    
  
}
.button:hover{
    background:gray;
    color:#ffff;
}
.radius{
   
    
padding-right: 16px;
padding-bottom: 10px;

}
.radius_img{
    height: 8px;
    width: 8px;
    background-color: #ffff;
    border-radius: 50%;
    display: inline-block;
   
 padding-left: 7px;
 cursor: pointer;
}
.radius_img:hover{
    background:gray;
}
.recipe_color{
    background-color: #ffff;
    padding-left: 54px;
    display: flex;
   
    margin-bottom: 87px;
}
.recipe{
    margin-right: 42px;
}
.img{
    padding-top: 40px;
    padding-bottom: 15px;
}


.time_mins{
    margin-top: 10px;
    padding-bottom: 73px;
    max-height: 14px;
    display: flex;
    align-items: center;
  
}
.time{
    padding: 2px 0;
    font-weight: 400;
    padding-right: 3px;
}

.time_text_line{
    font-family: 'Open Sans';
font-size: 12px;

font-weight: 300;
color: #555555;
padding-right: 5px;
}
.commenter{
    display: flex;
   
    border-left: 2px solid #6f6f6f ;
   
    padding-left: 6px;
    height: 14px;

padding-right: 1px;


}
.comment{
    padding: 2px 0;
    
}
.sewen{
    height: none;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
    color: #555555;


}
.oko{
    
    padding: 0 4px;
}
.cht{

    font-family: 'Open Sans';
    font-size: 12px;
    color: #555555;
    font-weight: 400;
    
}

.ice_iner{
    
   background: url(img/ice.png);
   width: 1120px;
   height: 438px;

   display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 140px;
}
.sorry_block{
margin-bottom: 77px;

}
.display{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sorry{
    width:  518px;;
height: 518px;
    background: url(img/rectangle_1_copy_2_4758.png);
    
  
}




.sorry_text{
 text-align: center;
 padding-top: 33%;
   
}
.sorry{

}
.number{

}
.number_text{
    font-size: 20px; 
    padding:  23px 0 0 44px; 
    font-style: italic;
}
.border_text{
    border: 1px solid #a9a9a9 ;
    opacity: 0.2;
    width: 440px;
    margin-left: 35px;
    margin-top: 5px;
}

.sorry_log{
    padding-bottom: 8px;
    
font-size: 34px;

font-weight: 700
}
.lor_text{
    font-family: 'Playfair Display';
font-size: 16px;
color: #a9a9a9;
font-weight: 900;


margin-bottom: 14px;
}
.sr_img{
    padding-top: 8px;
}
.button_back{

text-align: center;
margin-top: 108px;

   

}
.button_back>button{
    font-size: 12px;
    padding: 8px 36px;  
}

.caren_gray{
   
    width: 518px;
height: 519px;
background-color: #ffffff;

}
.number_text_{
   
    font-size: 20px; 
line-height: 1.2;
font-weight: 400;
font-style: italic;
    font-size: 20px; 
    padding:  23px 0 0 44px; 
}

.caren_photo{
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-top: 22px;
   
}
.about_caren{
 
   padding-left: 22px;
    
    padding-top: 20px;
    font-style: italic;
}
.caren_name{
  
 
  font-weight: 700;
   font-size: 24px;
   padding-bottom: 5px;
}
.state{
font-size: 16px;

font-weight: 300;
}
.ikon_caren{
    padding-top: 7px;
    opacity: 0.5;
}
.line_caren{
    margin-top: 12px;
    border: 1px solid #a9a9a9 ;
    width: 291px;
    opacity: 0.2;
}
.about_lemon{
    padding-top: 25px;
    width: 100px;
}


.lor_about{
    display: flex;
    font-size: 14px;


    font-style: italic;
 width: 294px;
    padding-top: 25px;
    font-size: 14px;
    font-weight: 400;
}
.signa{
    padding-top: 25px;
    text-align: right;
}



.recipe_blog{
   
    width: 289px;
height: 349px;
background-color: #ffffff;
margin-right: 2rem ;

}
.blog_name{
    padding-top: 25px;
    padding-bottom: 10px;
    font-family: 'Playfair Display';
font-size: 22px;
font-weight: 900;
color: #055555;
text-align: center;
}
.border-name{
    border: 1px solid #a9a9a9 ;
    width: 252px;
    opacity: 0.2;
   margin-left: 15px;
}


.recipe_display{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.chi_photo{
    display: flex;
}
.chi-chi{
    padding:10px 20px 0 24px ;
}
.recipe_by{
    font-size: 16px;
   padding-top: 16px;
   padding-bottom: 3px ;
}
.chi_time{
   
    max-height: 12px;
    display: flex;
    align-items: center;
    
}
.time_chi{
    padding: 2px 0;
    font-weight: 300;
    padding-right: 3px;
}

.chi_text_line{
    font-family: 'Open Sans';
font-size: 12px;

font-weight: 300;
color: #555555;
padding-right: 5px;
}
.commenter_2{
    display: flex;
    border-left: 2px solid #6f6f6f ;
   
    padding-left: 6px;
    height: 14px;

padding-right: 1px;


}
.chi_photo_max{
padding-top: 15px;
}
.target{
    width: 290px;
height: 471px;
background-color: #ffffff;
margin-top: 47px;
}
.target_top{
    display: flex;
    justify-content: space-between;
    padding: 35px 20px 0 17px ;
}
.target_name{
    font-style:  italic;
   font-size: 20px;
}
.targ_border{
    border: 1px solid #a9a9a9;
    width: 251px;
    opacity: 0.2;
    margin-left: 17px;
    margin-top: 5px;

}
.target_line{
    font-family: 'Playfair Display';
font-size: 20px;

font-weight: 900;

color: #055555;
padding-left: 30px;
padding-top: 17px;
}
.line_text{
    padding-top: 42px;
    padding-left: 25px;
}








.recipe_filtre{
    width: 290px;
    height: 427px;
    background-color: #ffffff; 
}
.filtre_dis{
    display: flex;
    justify-content: space-between;
    padding: 28px 23px 7px 18px;
    font-style:  italic;
  
}
.recipe_name{
  
font-size: 20px;

font-weight: 400;
}
.img_recipe{

}
.ricipe-line{
    border: 1px solid #a9a9a9;
    width: 251px;
    opacity: 0.2; 
    margin-left: 17px;
}
.recipe_menu{
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    font-size: 12px;
    font-weight: 300;

   
}
.links{
    padding:0 15px ;  
    text-decoration:none;
    color: #000000;
}
.links:hover{
    font-weight: 700;
}
.recipe_img_text{
    

}

.img_text{
display: flex;


margin-left: 20px;
padding-top: 33px;

}
.img_easy{
  
    width: 49px;
height: 45px;
}
.img_easy_recipe{


    padding-left: 15px;
}

.by_text{
  
    font-size: 12px;
}
.easy_lor{

font-size: 16px;
font-weight: 500;
padding-top: 5px;
padding-right: 20px;

   
}
.btn{
   text-align: right;
    padding: 28px 22px;
}
.recipe_button{
display: inline-block;
   padding: 9px 16px;
   border: 1px solid #c2c2c2;
 background: none;
 cursor: pointer;

 text-transform: uppercase;
 text-decoration: none;
 font-family: 'Josefin Sans';
font-size: 12px;
 font-weight: 300;
    text-align: center;
}



.tags{
    width: 290px;
height: 160px;
background-color: #ffffff;
margin-top: 47px;
}
.tags_name{
    font-family: 'Josefin Sans';
    font-size: 20px;
    
    font-weight: 400;
    font-style: italic;
    padding: 27px 0 5px  17px;
}
.tags_text{
    
font-size: 12px;

font-weight: 400;
    text-transform: uppercase;
  padding: 12px 30px 0 24px;
  line-height: 25px;
}
.calendar{
    width: 290px;
height: 367px;
background-color: #ffffff;
margin-top: 47px;
}



.popular{
    width: 290px;
height: 349px;
background:url(img/popular.png)no-repeat;

padding-left: 18px;
}
.popular_top{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 32px;

font-weight: 900;

color: #921026;
}
.border_popular{
    border: 1px solid #ffff;
    width: 251px;
}
.popular_head{
font-family: 'Josefin Sans';
font-size: 22px;

font-weight: 700;

color: #000000;
padding-top: 32px;
}
.popular_text{
    font-size: 16px;
    font-style: italic;
    padding-top: 17px;
}
.btn_time{
    display: flex;
    align-items:center;
    padding-top: 18px;
   
}
.butn{
    margin-right:8px ;
}

.popular_button{
    margin-top: 2px;
    display: inline-block;
   padding: 9px 12px ;
   border: 1px solid #c2c2c2;
 background: none;
 cursor: pointer;

 text-transform: uppercase;
 text-decoration: none;
 font-family: 'Josefin Sans';
font-size: 12px;
 font-weight: 300;
    text-align: center;
}
.line_block{
    display: flex;
    justify-content: space-between;
    padding: 28px 23px 7px 18px;
    font-style:  italic;
  
}

.timeline{
    width: 290px;
height: 430px;
background-color: #ffffff;
margin-top: 47px;
}

.time_head{
    font-size: 20px;
    font-weight: 400;
color: #000000;
font-style: italic;
}
.border_time{
    border: 1px solid #555555;
    width: 251px;
    opacity: 0.2;
    margin-left: 18px;
}
.time_bold{
    font-family: 'Playfair Display';
font-size: 20px;
font-weight: 900;
color: #055555;
padding-top: 18px;
padding-left: 30px;
}
.border_buttom{
    border: 1px solid #555555;
    width: 203px;
    opacity: 0.2;
    margin-top: 18px;  
    margin-left: 50px; 
}
.text_eam{
    font-family: 'Josefin Sans';
font-size: 16px;

font-weight: 300;

color: #6a6a6a;
padding-left: 50px;  
padding-top: 15px;
}
.login{
    margin-top: 100px;
}

.login_block{
    width: 328px;
height: 406px;
background-color: #ffffff;
}
.login_head{
    font-family: 'Josefin Sans';
font-size: 20px;

font-weight: 400;
;
color: #000000;
padding-top: 19px;
padding-left: 30px;
padding-bottom: 8px;
}
.login_text{
font-size: 16px;
padding-left: 30px;
padding-top: 29px;
}
.log_in{
width: 328px;
height: 406px;
background-color: #ffff;
}
.log_in h1{
font-size: 20px;
font-weight: 400;
line-height: 1.2;
letter-spacing: 0.025em;
font-style: italic;
padding: 19px 0 8px 28px;
}
.border_login{
    border: 1px solid #555555;
    width: 271px;
opacity: 0.2;
margin: 0 0 25px 25px;
}
.log_in h3{
padding: 0 0 20px 30px;
font-size: 16px;
line-height: 1.2;
font-weight: 300;
color: #000000;


}

form{
  
text-align: center;

}

input{
   
}

.group input[type="text"],input[type="password"]{
opacity: 0.2;
font-size: 16px;
font-weight: 400;
color: #000000;
width: 248px;
height: 35px;
padding-left: 17px;
margin-bottom: 16px;
}
.group input[type="text"]{
    margin-bottom: 20px;
}

.group2{
   
    opacity: 0.54;
    font-size: 12px;
    font-weight: 400;
    display: flex;

 align-items: center;
justify-content: center;
margin-left: -5px;
;

}
.group2 a{
    display: block;
    color: black;
    text-decoration: none;
    padding-left: 50px;
}
.group button{
    font-size: 12px;
    font-weight: 300;
    margin-top: 30px;
    padding: 6px 33px;
    text-transform: uppercase;
    width: 105px;
    height: 28px;
    border-radius: 1px solid #c2c2c2 ;
 
    background: none;

  
}
.group3 img{
text-align: center;
padding: 20px 10px 15px 10px ;
}
.group a{
    display: block;
    color: black;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.54;
    color: #000000;
}